@page
@model PetClinic.Pages.Customer.PetManagement.EditModel
@{
    ViewData["Title"] = "Pet Management Edit Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null || role != "0")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.PetId" />
            <div class="form-group">
                <label asp-for="Pet.PetName" class="control-label"></label>
                <input asp-for="Pet.PetName" class="form-control" />
                <span asp-validation-for="Pet.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.PetType" class="control-label"></label>
                <input asp-for="Pet.PetType" class="form-control" />
                <span asp-validation-for="Pet.PetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.PetAge" class="control-label"></label>
                <input asp-for="Pet.PetAge" class="form-control" />
                <span asp-validation-for="Pet.PetAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
