@page
@model PetClinic.Pages.Doctor.ScheduleManagement.ViewScheduleModel
@{
    ViewData["Title"] = "Schedule";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null || role != "2")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<head>
    <meta charset="UTF-8">
    <title>Admin Schedule Management</title>

    <link rel="stylesheet" href="~/css/khoiadminschedule.css" />
    <link rel="stylesheet" href="~/css/khoiadminstyle.css" />

</head>

<header>
    <h1>Schedule</h1>
</header>

<nav class="navbar navbar-expand-sm">
    <a asp-page="/Doctor/BookingView">Bookings</a>
    <a asp-page="/Doctor/HospitalizeList">Hospitalization</a>
    <a asp-page="/Doctor/ScheduleManagement/ViewSchedule">View Schedule</a>
</nav>


<div class="user-info">
    <span>Welcome, @Model.user.FirstName</span>
    <a asp-page="/Doctor/DoctorProfile"><button>View Profile</button></a>
    <a asp-page="/Authentication/Logout"><button>Logout</button></a>
</div>

<body>
    <div class="container">
        <main class="main-content">

            <div class="schedule-header">
                <h1>Schedule</h1>

                <div class="date-range">
                    <div> Start Date: @Model.MondayDate.Date </div>
                    <div> End Date: @Model.SundayDate.Date </div>
                </div>
                <button class="reschedule">+ Reschedule</button>
            </div>

            <form method="post" asp-page-handler="ChangeWeek">
                <button type="submit" name="offset" value="-1">Prev</button>
                <button type="submit" name="offset" value="1">Next</button>
                <input type="hidden" asp-for="SelectedDate" value="@Model.SelectedDate" />
            </form>

            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Shift</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var shift in Model.ShiftList)
                    {
                        <tr>

                        </tr>
                    }

                    <tr>
                        <td>7:00 - 9:00</td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9:00 - 11:00</td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td><div class="shift">DR. OLIVIA FEATHERSTONE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00 - 15:00</td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15:00 - 17:00</td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                        <td><div class="shift">DR. ETHAN WINGATE</div><div class="shift">DR. MARY JOHNSON</div></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </main>
    </div>
</body>