@page
@model PetClinic.Pages.Service_Management.CreateModel
@{
    ViewData["Title"] = "Service Management Create Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (email != "admin@petclinic.com")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.ServiceName" class="control-label"></label>
                <input asp-for="Service.ServiceName" class="form-control" />
                <span asp-validation-for="Service.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceDescription" class="control-label"></label>
                <input asp-for="Service.ServiceDescription" class="form-control" />
                <span asp-validation-for="Service.ServiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ActiveStatus" class="control-label"></label>
                <input asp-for="Service.ActiveStatus" class="form-control" />
                <span asp-validation-for="Service.ActiveStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
