@page
@model PetClinic.Pages.VaccinationManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VaccinationDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="record.VaccinationRecordId" />
            <div class="form-group">
                <label asp-for="record.MedicineId" class="control-label"></label>
                <select asp-for="record.MedicineId" class="form-control" asp-items="ViewBag.MedicineId"></select>
                <span asp-validation-for="record.MedicineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="record.VaccinationDate" class="control-label"></label>
                <input asp-for="record.VaccinationDate" class="form-control" />
                <span asp-validation-for="record.VaccinationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="record.NextDueDate" class="control-label"></label>
                <input asp-for="record.NextDueDate" class="form-control" />
                <span asp-validation-for="record.NextDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="record.VaccinatedAt" class="control-label"></label>
                <input asp-for="record.VaccinatedAt" class="form-control" />
                <span asp-validation-for="record.VaccinatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="record.Verification" class="control-label"></label>
                <input asp-for="record.Verification" class="form-control" />
                <span asp-validation-for="record.Verification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
