@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="display-4">LOGIN</h2>
    <form method="post">
        <label>User Name</label>
        <input type="text" asp-for="userName" />
        <br />
        <label>Password</label>
        <input type="password" asp-for="password" />
        <br />
        <input type="submit" asp-page-handler="Login" value="Login" />
    </form>
</div>
