@page
@model CustomerRegisterModel
@{
    ViewData["Title"] = "Customer Register";
}

<div class="text-center">
    <h2 class="display-4">REGISTER</h2>
    <form method="post">
        <div>
            <label>User Name</label>
            <input type="text" asp-for="userName" />
            <span asp-validation-for="userName" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label>Password</label>
            <input type="password" asp-for="password" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label>Phone</label>
            <input type="text" asp-for="phoneNumber" />
            <span asp-validation-for="phoneNumber" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label>Address</label>
            <input type="text" asp-for="address" />
            <span asp-validation-for="address" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label>Email</label>
            <input type="text" asp-for="email" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label>Gender</label>
            <input type="text" asp-for="gender" />
            <span asp-validation-for="gender" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input type="submit" asp-page-handler="Register" value="Register" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
