@page
@model ForgetPasswordModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/khoistyle.css" />
    <!-- Other head content -->
</head>

<div class="login-container">
    <h2 class="text-center">Forget Password</h2>

    <div class="login-form">
        <form method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group form-submit-button">
                <button type="submit" class="btn btn-primary btn-block">Send Request</button>
            </div>
        </form>
    </div>
</div>
