@page
@model LoginModel
@{
}

<div class="text-center">
    <h2 class="display-4">LOGIN</h2>
    <form method="post">
        <label>Email</label>
        <input type="text" asp-for="email" />
        <br />
        <label>Password</label>
        <input type="password" asp-for="password" />
        <br />
        <input type="submit" asp-page-handler="Login" value="Login" />
    </form>
</div>
