@* /Admin/_Sidebar.cshtml *@
<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/Admin/AdminHomePage">Home</a></li>
            <li><a href="/Admin/AdminManagePet/AdminViewPetList">Pet Management</a></li>
            <li><a href="/Admin/AdminManageStaff/AdminViewStaffList">Staff Management</a></li>
            <li><a href="/Admin/AdminManageDoctor/AdminViewDoctorList">Doctor Management</a></li>
            <li><a href="/Admin/AdminManageCustomer/AdminViewCustomerList">Customer Management</a></li>
            <li><a href="/Admin/AdminManageService/AdminViewServiceList">Service Management</a></li>
            <li><a href="/Admin/AdminManageMedicine/AdminViewMedicineList">Medicine Management</a></li>
        </ul>
    </nav>
</aside>
