@page
@model PetClinic.Pages.Doctor.MedicalRecordManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalRecord.MedicalRecordId" />
            <div class="form-group">
                <label asp-for="MedicalRecord.MedicalRecordDescription" class="control-label"></label>
                <input asp-for="MedicalRecord.MedicalRecordDescription" class="form-control" />
                <span asp-validation-for="MedicalRecord.MedicalRecordDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.BookingId" class="control-label"></label>
                <select asp-for="MedicalRecord.BookingId" class="form-control" asp-items="ViewBag.BookingId"></select>
                <span asp-validation-for="MedicalRecord.BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.DoctorId" class="control-label"></label>
                <select asp-for="MedicalRecord.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="MedicalRecord.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.ServiceId" class="control-label"></label>
                <select asp-for="MedicalRecord.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="MedicalRecord.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
