/* styles.css */

/* Container styles */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Form styles */
.login-form {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-submit-button {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

/* Link styles */
.register-link {
    text-align: center;
    margin-top: 10px;
}

    .register-link a {
        color: blue;
        text-decoration: none;
    }

        .register-link a:hover {
            text-decoration: underline;
        }
