body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #4caf50; /* Green color */
    font-size: 36px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 20px;
}

.left, .right {
    width: 45%;
    min-width: 300px; /* Set a minimum width */
}

.left {
    text-align: left;
}

    .left p {
        font-size: 18px;
        margin: 10px 0;
    }

    .left img, .right img {
        max-width: 100%;
    }

.info-box {
    padding: 10px;
}

.bank-img{
    height:50%;
    width: 50%;
}