@page
@model PetClinic.Pages.BookingManagement.ChoosePetModel
@{
    ViewData["Title"] = "Choose Pet";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .choose-pet-container {
        margin: 20px;
    }

    .choose-pet-header {
        text-align: center;
        margin-bottom: 30px;
        font-size: 36px;
        color: #4CAF50;
    }

    .form-container {
        margin-top: 30px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #4CAF50;
        border: none;
    }

        .btn-primary:hover {
            background-color: #45a049;
        }

    .information {
        font-size: 24px;
        color: #4CAF50;
        margin-bottom: 20px;
    }
</style>

<div class="choose-pet-container">
    <h1 class="choose-pet-header">Choose Pet</h1>

    @if (Model.PetList == null || Model.PetList.Count == 0)
    {
        <div>Your pet list is empty <a asp-page="PetManagement.Create">Click here to create pet</a></div>
    }
    else
    {
        <div class="form-container">
            <h4 class="information">Pet Information</h4>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SelectedPetId" class="control-label">Pet Name</label>
                    <select asp-for="SelectedPetId" class="form-control" asp-items="ViewBag.PetList"></select>
                    <span asp-validation-for="SelectedPetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
